<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/food.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Hezki's Web | Food</title>
  </head>
  <body>
    <header>
      <div class="header-text-container">
        <h1>Food</h1>
      </div>
      <nav>
        <ul>
          <li><a class="first-nav-a" href="/quiz1">Home</a></li>
          <li><a href="/quiz1/profile">Profile</a></li>
          <li><a href="/quiz1/hometown">Hometown</a></li>
          <li><a class="selected-nav" href="/quiz1/food">Food</a></li>
          <li><a href="/quiz1/tourist">Tourist</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="about">
        <div class="about-head">
          <article class="about-head-article">
            <div class="about-head-article-header">
              <h2>5 of My Favorite Foods from Malang</h2>
            </div>
            <div class="about-head-article-paragraphs">
              <div class="food-odd">
                <div class="food-img food-img-1"></div>
                <div>
                  <h3>Bakso Malang</h3>
                  <p>
                    Meatballs are one of the most well-known and popular
                    culinary specialties of Malang. Malang meatballs have a
                    wider variety of contents than meatballs in other cities.
                  </p>
                  <p>
                    In addition to smooth meatballs which are more often called
                    pentol, there are also meatballs with veins or coarse balls,
                    fried long or flower dumplings, yellow noodles, vermicelli,
                    and tofu. In addition, rice cake is usually served as a
                    friend to eat meatballs.
                  </p>
                  <p>
                    Meatballs can be easily found in the city of Malang. Ranging
                    from street carts to restaurants. The variety of meatballs
                    provided is even more diverse. For example, firecracker
                    meatballs, seafood meatballs, sum-sum meatballs, and rolled
                    meatballs.
                  </p>
                </div>
              </div>
              <div class="food-even">
                <div>
                  <h3>Mendol</h3>
                  <p>
                    The next typical Malang food is processed tempeh which is
                    called mendol. Mendol is made from crushed tempeh. mixed
                    with spices, clenched into an oval shape, then fried until
                    crispy.
                  </p>
                  <p>
                    Usually this mendol is used as a side dish to complement
                    pecel rice, rice corn, or rawon. It tastes savory with the
                    aroma of kencur and leaves orange.
                  </p>
                </div>
                <div class="food-img food-img-2"></div>
              </div>
              <div class="food-odd">
                <div class="food-img food-img-3"></div>
                <div>
                  <h3>Cilok Daging</h3>
                  <p>
                    Cilok is better known as a typical Bandung snack. But there
                    is also a typical Malang culinary called cilok meat.
                  </p>
                  <p>
                    Cilok which is sold on the roadside generally has a slightly
                    rough texture like mini veined meatballs. Some are served
                    with red sauce, peanut sauce, to meatball sauce and
                    vegetables. There are also those that are burned with sweet
                    soy sauce, you know.
                  </p>
                </div>
              </div>
              <div class="food-even">
                <div>
                  <h3>Mie Setan</h3>
                  <p>
                    Currently, devil noodles or devil noodles can be found in
                    various cities in Indonesia. But initially this food was
                    pioneered in Malang. So it's not wrong if the devil's noodle
                    is called a typical food of Malang.
                  </p>
                  <p>
                    A bowl of mie devil consists of thin egg noodles prepared
                    like cwimie, but mixed with ground cayenne pepper. The level
                    of spiciness can be adjusted according to the customer's
                    taste. Usually this food seller also provides devil noodles
                    mixed with cayenne pepper and sweet soy sauce as a menu
                    variation.
                  </p>
                  <p>
                    Hundreds of shops offering devil's noodles can be found in
                    Malang. Some of the popular ones among foodies are Kober Mie
                    Setan, Mie Setan Noodle n' Dimsum, and Mie Gacoan.
                  </p>
                </div>
                <div class="food-img food-img-4"></div>
              </div>
              <div class="food-odd">
                <div class="food-img food-img-5"></div>
                <div>
                  <h2>Tahu Lontong</h2>
                  <p>
                    Surabaya has a special culinary called Tahu Lontong.
                    However, there is also a typical Malang food called Tahu
                    Lontong. Basically, Tahu Lontong is not much different from
                    Tahu Tek. Even so, the typical Malang tofu lontong has a
                    slightly different appearance and taste from Surabaya's tofu
                    lontong.
                  </p>
                  <p>
                    However, the seasoning of tofu lontong in Malang is mixed
                    with mashed peanuts and sweet soy sauce. After that, it is
                    served with fried tofu, bean sprouts, and starch crackers.
                    Meanwhile, tofu lontong in Surabaya is more dominant with
                    petis and served with short bean sprouts.
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; Yehezkiel Wiradhika 2022</p>
    </footer>
  </body>
</html>
