<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Hezki's Web | Home</title>
  </head>
  <body>
    <header>
      <div class="header-text-container">
        <h1>Personal Website</h1>
      </div>
      <nav>
        <ul>
          <li><a class="first-nav-a selected-nav" href="/quiz1">Home</a></li>
          <li><a href="/quiz1/profile">Profile</a></li>
          <li><a href="/quiz1/hometown">Hometown</a></li>
          <li><a href="/quiz1/food">Food</a></li>
          <li><a href="/quiz1/tourist">Tourist</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="main-welcome">
        <div id="carousel" class="main-welcome-carousel carousel-1"></div>
        <div class="main-welcome-content-container">
          <h1><span>Hey! I'm</span><br />Yehezkiel Wiradhika</h1>
          <h2>Welcome to my Personal Website!</h2>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; Yehezkiel Wiradhika 2022</p>
    </footer>
  </body>
  <script src="/scripts/script.js"></script>
</html>
