<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/profile.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Hezki's Web | Profile</title>
  </head>
  <body>
    <header>
      <div class="header-text-container">
        <h1>Profile</h1>
      </div>
      <nav>
        <ul>
          <li><a class="first-nav-a" href="/quiz1">Home</a></li>
          <li>
            <a class="selected-nav" href="/quiz1/profile">Profile</a>
          </li>
          <li><a href="/quiz1/hometown">Hometown</a></li>
          <li><a href="/quiz1/food">Food</a></li>
          <li><a href="/quiz1/tourist">Tourist</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="about">
        <div class="about-head">
          <div class="about-head-img-container">
            <img
              src="/imgs/profile/yehezkel.png"
              alt="Yehezkiel Wiradhika"
              class="portrait-img"
            />
          </div>
          <article class="about-head-article">
            <div class="about-head-article-header">
              <h2>Hey! I'm Yehezkiel Wiradhika</h2>
              <h3>An Informatics Student at ITS, Surabaya</h3>
            </div>
            <div class="about-head-article-paragraphs">
              <p>
                I started to learn coding when I was a second year highschool
                student. By then I was learning HTML, CSS, also some Javascript
                through
                <a
                  class="text-blue-700 hover:text-red-500"
                  href="https://www.freecodecamp.org/"
                  target="_blank"
                  >freecodecamp.org</a
                >. After that, I started learning some C/C++ from
                <a
                  class="text-blue-700 hover:text-red-500"
                  href="https://www.youtube.com/user/thenewboston"
                  target="_blank"
                  >Bucky Roberts</a
                >
                also some Python from Udemy.
              </p>
              <p>
                I loved how the computer performs precisely as we commanded.
                That's why I really love programming. Because of that, I
                determined that I should get an Informatics Engineering degree
                for my college diploma.
              </p>
              <p>
                In college, I started learning so many more stuffs about
                programming, such as data structures, algorithms, artificial
                intelligence, networking, and so on. I've also done some
                volunteering works and one internship in front-end web
                development.
              </p>
              <p>
                I learned some frameworks like React.js, Next.js, Bootstrap,
                also Tailwindcss. In the last semester, I started to learn
                Express.js also some Mongodb, and thus starting my backend web
                development journey. I'm now looking forward to learn Golang
                from Ruangguru MSIB program.
                <a
                  target="_blank"
                  href="https://yehezkiel-wiradhika-cv.netlify.app/"
                  >Read more</a
                >
              </p>
            </div>
          </article>
        </div>
        <div class=""></div>
      </section>
    </main>

    <footer>
      <p>&copy; Yehezkiel Wiradhika 2022</p>
    </footer>
  </body>
</html>
