<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/tourist.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Hezki's Web | Tourist</title>
  </head>
  <body>
    <header>
      <div class="header-text-container">
        <h1>Tourist Destination</h1>
      </div>
      <nav>
        <ul>
          <li><a class="first-nav-a" href="/quiz1">Home</a></li>
          <li><a href="/quiz1/profile">Profile</a></li>
          <li><a href="/quiz1/hometown">Hometown</a></li>
          <li><a href="/quiz1/food">Food</a></li>
          <li>
            <a class="selected-nav" href="/quiz1/tourist">Tourist</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="about">
        <div class="about-head">
          <article class="about-head-article">
            <div class="about-head-article-header">
              <h2>My Top 5 <span>Malang</span>'s Tourist Destinations</h2>
            </div>
            <div class="about-head-article-paragraphs">
              <div class="tourist-odd">
                <div class="tourist-img tourist-img-1"></div>
                <div>
                  <h3>Kampung Warna-warni Jodipan</h3>
                  <div class="tourist-paragraph">
                    <p>
                      Jodipan Colorful Village is an alternative for family
                      tourism in the middle of Malang City. As the name implies,
                      the house to the hallway in this village has a lively
                      color. Many Instagramable photo spots can be found in
                      Jodipan Colorful Village. Starting from the umbrella
                      hallway, colorful stairs to the glass bridge.
                    </p>
                    <p>
                      This tour had gone viral on social media. The Jodipan
                      Colorful Village ticket is very pocket-friendly, only IDR
                      5,000 for the day. This tourist spot is located in Jodipan
                      Village, about a 10-minute walk from Malang City Station.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tourist-even">
                <div>
                  <h3>Floratourism San Terra de Lafonte</h3>
                  <div class="tourist-paragraph">
                    <p>
                      Florawisata San Terra de Lafonte is one of the tourist
                      destinations in Malang to wash your eyes. Because, this
                      tourist spot offers a wide view of flower gardens and
                      refreshes the eyes. There are 700 types of flowers that
                      can be seen at Florawisata San Terra de Lafonte. In
                      addition, visitors can also see
                    </p>
                    <p>
                      There are many Instagramable spots to capture moments with
                      family. For example, miniature Korean, Dutch, and Italian
                      buildings. The ticket price for this attraction is IDR
                      30,000. Florawisata San Terra de Lafonte is located on
                      Truno Joyo Street, Jurangrejo, Pandesari, Pujon District,
                      Malang Regency.
                    </p>
                  </div>
                </div>
                <div class="tourist-img tourist-img-2"></div>
              </div>
              <div class="tourist-odd">
                <div class="tourist-img tourist-img-3"></div>
                <div>
                  <h3>Malang City Square</h3>
                  <div class="tourist-paragraph">
                    <p>
                      Malang City Square can be a choice of Malang tourist
                      attractions that can be visited with family. Visitors can
                      sit back and relax around the square while enjoying the
                      bustle of Malang City. There are a number of activities
                      that can be done in Malang City Square. Starting from
                      cycling, culinary tours, relaxing under trees, playing
                      with children, and taking pictures.
                    </p>
                    <p>
                      Malang City Square can be accessed for free by the public.
                      Visitors only need to pay for parking of IDR 2,000 for
                      motorbikes and IDR 5,000 for cars.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tourist-even">
                <div>
                  <h3>Museum Angkut</h3>
                  <div class="tourist-paragraph">
                    <p>
                      Museum Angkut can be a family choice for educational
                      tours. Various types of classic cars are exhibited in this
                      museum which covers almost 4 hectares. The museum also
                      exhibits a variety of historic cars, for example the
                      vehicle used by the First President of the Republic of
                      Indonesia Soekarno. Museum Angkut also displays the
                      Presidential Helicopter which is a presidential
                      helicopter.
                    </p>
                    <p>
                      Various facilities are also ready to pamper the tour with
                      the family. Museum Angkut has facilities ranging from the
                      Nusantara Floating Market, Buckingham Palace, Gangster
                      Town, F1 Simulator, China Town, to Flight Simulator. The
                      entrance ticket to Museum Angkut is IDR 110,000 per
                      person, both weekdays and weekends. The location of this
                      tourist attraction is on Jalan Canal Sultan Agung Number
                      2, Batu City.
                    </p>
                  </div>
                </div>
                <div class="tourist-img tourist-img-4"></div>
              </div>
              <div class="tourist-odd">
                <div class="tourist-img tourist-img-5"></div>
                <div>
                  <h2>Malang Night Paradise</h2>
                  <div class="tourist-paragraph">
                    <p>
                      Malang Night Paradise can be a night tour option at night
                      and can be enjoyed with family. This tourist location
                      offers the beauty of a sparkling LED light garden and a
                      lantern garden. The eyes will be spoiled with various
                      colors of lights. Visitors can enjoy the glittering
                      lights-themed attractions with their families. Call it,
                      Lantern Park which contains Dancing Water Fountain to
                      Lighting Tunnel.
                    </p>
                    <p>
                      Malang Night Paradise also provides rides for all ages,
                      namely Magic Journey 2, Roemah 147, Adventure Land, and
                      the Ganesya Museum. Malang Night Paradise tickets are
                      priced at IDR 55,000 on weekdays and IDR 65,000 on
                      weekends.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; Yehezkiel Wiradhika 2022</p>
    </footer>
  </body>
</html>
